



h3{
    color: yellow;
    text-align: center;
}

.narracion{
    color : blue;
}

.dialogo{
    color : red;
    text-align: right;
    
}

.imgGeneralPulgarcito{
    width: 500px;
}

header{
    background-color: orange;
    text-align: center;
}

nav{
    background-color: green;
}

footer{
    background-color: blue;
}


